CLERK_SECRET_KEY=sk_test_replace_me
DATABASE_URL=postgres://POSTGRES_USER:POSTGRES_PASSWORD@127.0.0.1:5432/POSTGRES_DB?sslmode=disable
PORT=8080
GIN_MODE=debug
TIGRIS_STORAGE_ACCESS_KEY_ID=tigris_storage_access_key_id
TIGRIS_STORAGE_SECRET_ACCESS_KEY=tigris_storage_secret_access_key
TIGRIS_STORAGE_ENDPOINT=tigris_storage_endpoint
TIGRIS_STORAGE_BUCKET=tigris_storage_bucket
