CLERK_SECRET_KEY=sk_test_replace_me
DATABASE_URL=postgres://POSTGRES_USER:POSTGRES_PASSWORD@127.0.0.1:5432/POSTGRES_DB?sslmode=disable
PORT=8080
GIN_MODE=debug
AWS_ACCESS_KEY_ID=tigris_storage_access_key_id
AWS_SECRET_ACCESS_KEY=tigris_storage_secret_access_key
AWS_ENDPOINT_URL_S3=https://t3.storage.dev
AWS_REGION=auto
BUCKET_NAME=tigris_storage_bucket
